* {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins";
    box-sizing: border-box;
}

header{
    position: fixed;
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.content{
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 60%;
    align-items: center;
    justify-content: center;
}